@model Taksopark.MVC.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendMail</title>
</head>
<body>
    @using (Ajax.BeginForm("SendMail", "Contacts", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "target",
        OnFailure = "ShowError()",
        OnSuccess = "ShowSuccess()"
    }))
    {
    <div >
        <form>
            @Html.LabelFor(model => model.Name, new {@class = "labelForClass" })
            @Html.EditorFor(model => model.Name, new { @class = "editorForClass" }) @Html.ValidationMessageFor(model => model.Name)

            @Html.LabelFor(model => model.Email, new { @class = "labelForClass" })
            @Html.EditorFor(model => model.Email, new { @class = "editorForClass" }) @Html.ValidationMessageFor(model => model.Email)

            @Html.LabelFor(model => model.Message, new { @class = "labelForClass" })
            @Html.TextAreaFor(model => model.Message, new { @id = "textAreaId" }) @Html.ValidationMessageFor(model => model.Message)<br />
            <div>
                <div id="emptySpaceId"></div>
                <div id="buttonsHolderId">
                    <input type="submit" class="abutton" value="Send Message">
                    <input type="reset" class="abutton" value="Clear" />
                </div>
            </div>
        </form>
    </div>
    }
</body>
</html>
