@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Styles.Render("~/Content/Layout/my-css")
    @Styles.Render("~/Content/Layout/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/ContactStyles")
    @Scripts.Render("~/Validation")
</head>
<body style="background-color: white">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <header>
        @*<div class="login-form-st modal fade" id="login-form">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div style="text-align: left;">
                    <input type="text" placeholder="Login" class="form-control" />
                    <br />
                    <br />
                    <input type="password" placeholder="Password" class="form-control" />
                    <br />
                    <input type="checkbox">Remember me?
                </div>
            </div>
            <div class="modal-footer">

                <a href="#" data-dismiss="modal">
                    <button class="width1 abutton">Login</button></a>
                <a href="#">
                    <button class="width1 abutton">Cancel</button></a>
            </div>
        </div>*@
        <div>
            <div class="login-st" style="margin-right: 5px;">
                @Html.Partial("~/Views/Account/_LoginPartial.cshtml")
                @*<a type="button" href="#login-form" data-toggle="modal">
                    <button class="pulse width1 abutton">Login</button></a>
                <a href="/Views/Home/">
                    <button class="abutton pulse width2" style="text-decoration: none;">@Html.ActionLink("Registrate", "RegisterUser", "Account", null, new { style = "text-decoration:none" })</button></a>*@
            </div>
        </div>


        <div class="menu_block">
            <div class="container_12">
                <div class="grid_12">
                    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                        <ul class="sf-menu" style="text-decoration: none;">
                            <li class="current" style="text-decoration: none;">@Html.ActionLink("Home", "Index", "Home" , null, new { style = "text-decoration:none" })</li>
                            <li style="text-decoration: none;">@Html.ActionLink("About", "About", "Home", null, new { style = "text-decoration:none" })</li>
                            <li style="text-decoration: none;">@Html.ActionLink("Contacts ", "SendMail", "Contacts", null, new { style = "text-decoration:none" })</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="container_12">
            <div class="grid_12">
                <h1 id="logoHolderId">
                    <img src="/Content/Image/logo.bmp" alt="Your Happy Family">
                </h1>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="bottom: 0">
        <div>
            <a href="#" id="toTop" style="margin-right: -580px; right: 50%; display: block;">
                <span id="toTopHover" style="opacity: 0;"></span>
            </a>
        </div>
        <div class="container_12 container_12_2">
            <div class="grid_12">
                <div class="f_phone"><span>Call Us:</span> + 380631709471</div>
                <div class="copy">
                    <div class="st1">
                        <div>Lviv<span class="color1">T</span>axi &copy; 2014 |</div>
                    </div>
                    Website designed by A-Team<br>
                    Epam IT Lab 2014.
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>
