@{
    bool isAuthenticated = ViewBag.IsAuthenticated;
}


@if (!isAuthenticated)
{
    <a href="/Views/Account/">
        <button class="abutton pulse width2" style="text-decoration: none;">@Html.ActionLink("Sign In", "LogIn", "Account", null, new { style = "text-decoration:none" })</button>
    </a>
    <a href="/Views/Account/">
        <button class="abutton pulse width2" style="text-decoration: none;">@Html.ActionLink("Register", "RegisterUser", "Account", null, new { style = "text-decoration:none" })</button>
    </a>
}
else
{
    <span style="font-family: 'Arial';"><span class="color1">Welcome</span></span>
    <a href="/Views/Home/">
        <button class="abutton pulse width2">@Html.ActionLink("My Profile", "GetUserProfile", "UserProfile", null, new { style = "text-decoration:none" })</button>
    </a>
    <a href="/Views/Home/">
        <button class="abutton pulse width2">@Html.ActionLink("Orders History", "GetUserHistory", "UserProfile", null, new { style = "text-decoration:none" })</button>
    </a>
    <a href="/Views/Account/">
        <button class="abutton pulse width2">@Html.ActionLink("Log Out", "LogOff", "Account", null, new { style = "text-decoration:none" })</button>
    </a>
}