@using System.Web.Optimization
@using Taksopark.MVC.Controllers.Home

@Styles.Render("~/Content/Layout/my-css")
@Scripts.Render("~/bundles/ready-script")
@Styles.Render("~/Content/Layout/slider-style")
@Scripts.Render("~/bundles/slider-js")
<script>
    auto();
</script>
<div class="container_12">
    <div class="grid_12" style="text-align: center">
        <h1>
            <a href="#">
                <img src="~/Content/Image/logo.bmp" alt="Your Happy Family" />
            </a>
        </h1>
    </div>
</div>
<div class="clear"></div>
    <div id="sliderFrame" style=" margin-bottom: 25px; margin-top: 3px;">
        <div id="slider">
            <img src="~/Content/Image/slide.jpg" />
            <b data-src="/Content/Image/slide1.jpg">Data</b>
            <b data-src="/Content/Image/slide2.jpg">Video</b>
        </div>
    </div>
<div class="inner-map-div" style="margin-bottom: 200px;">
    @using (Html.BeginForm("OrderTaxi", "Home", FormMethod.Post))
    {
    <div style="text-align: center">
        <input type="text" id="Order" name="txtFrom" placeholder="From:" style="height: 40px; font-size: 18px;" />
        <input type="text" id="Order" name="txtTo" placeholder="To:" style="height: 40px; font-size: 18px;" />
        <input type="text" id="Order" name="txtPhone" placeholder="Phone:" style="height: 40px; font-size: 18px;" />
        <button type="submit" class="abutton" style="height: 40px; font-size: 18px;">Order Taxi</button>
        <button type="submit" class="abutton" style="height: 40px; font-size: 18px;">More</button>
    </div>
    } 
    <br />
    @Html.Partial("BingMapPartial")    
</div>


