@if (Session["UserFullName"] == null)
{
    @*<a type="button" href="#login-form" data-toggle="modal">
        <button class="pulse width1 abutton">Login</button></a>*@
    <a href="/Views/Account/">
        <button class="abutton pulse width2" style="text-decoration: none;">@Html.ActionLink("LogIn", "LogIn", "Account")</button>
    </a>
    <a href="/Views/Account/">
        <button class="abutton pulse width2" style="text-decoration: none;">@Html.ActionLink("Registrate", "RegisterUser", "Account")</button>
    </a>
}
else
{
    <span>Welcome @Session["UserFullName"]</span>
    <a href="/Views/Home/">
        <button class="abutton pulse width2">@Html.ActionLink("My Profile", "GetUserProfile", "UserProfile")</button>
    </a>
    <a href="/Views/Home/">
        <button class="abutton pulse width2">@Html.ActionLink("Orders History", "GetUserHistory", "UserProfile")</button>
    </a>
    <a href="/Views/Account/">
        <button class="abutton pulse width2">@Html.ActionLink("LogOff", "LogOff", "Account")</button>
    </a>
}